// $mn-clr: #894e17;;
// $alt-clr: #080;
$bw7: #777; 
$bwe: #eee;
$bw3: #333;
$bwf8: #f8f8f8;
$bw0: #000;
$bwf: #fff;
$bwc: #ccc;
$bwd: #ddd;
$mn-grdnt: linear-gradient(45deg,rgb(239, 239, 239) , rgb(193, 193, 193));
$section-pdng: 80px 0;

